<div class="container" style="text-align:center">
  <h1>Contacts App</h1>
  <div class="formField">
    Name: <input [(ngModel)]="name" />
    Email: <input [(ngModel)]="email" />
    Phone: <input [(ngModel)]="phone" />
    <button class="btn-success" (click)="addContact(name, email, phone)">Add</button>
  </div>
  <div class="searchFilter">
    <label for="filter">Search</label>
    <input /><img src="../assets/glyphicons-237-zoom-in.png">
  </div>
</div>
  <div class="tably">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
